body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.grid-item:nth-child(1) {
    background-color: yellow;
}

.grid-item:nth-child(2) {
    background-color: pink;
}

.grid-item:nth-child(3) {
    background-color: blue;
}

.grid-item:nth-child(4) {
    background-color: green;
}

.grid-item:nth-child(5) {
    background-color: red;
}

.grid-item:nth-child(6) {
    background-color: grey;
}

.grid-item:nth-child(7) {
    background-color: brown;
}

.grid-item:nth-child(8) {
    background-color: orange;
}

.grid-item:nth-child(9) {
    background-color: purple;
}

.grid-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #000;
}